{% extends 'base.html' %}

  {% block head %}

<title>
    Index page
</title>

  <meta property="og:title" content="Hi, I'm piyush" />
  <meta property="og:description" content="Let me introduce you to my geek side !">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://piyush.in/" />
  <link rel="canonical" href="http://piyush.in/" />

  <meta property="og:image" content="http://piyush.in/img/av.png" />

{% endblock %}
{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="http://anudit.in">Anudit Verma</a>

    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">


          <li>
<a href="/aboutme">About Me</a>

          </li>



          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">Projects</a>
            <div class="navlinks-children">

<a href="https://www.google-melange.com/archive/gsoc/2015/orgs/civicrm/projects/deeksha.html">GSoC'15</a>

<a href="https://github.com/deeksha/appbase-typeracer">TypeRacer</a>



            </div>
          </li>



          <li>

<a href="/resume/piyush.pdf">Resume / CV</a>

          </li>


      </ul>
    </div>


  <div class="avatar-container">
    <div class="avatar-img-border">
      <a href="http://deeksha.in ">
        <img class="avatar-img" src="http://deeksha.in/img/av.png" />
     </a>
    </div>
  </div>

  </div>
</nav>
{% endblock %}

{% block content %}
<h1>Test 1</h1>
{% endblock %}
{% block morecontent %}
<h1>Test 2</h1>
{% endblock %}
